# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.manifest
*.spec
.mypy_cache/
.pytest_cache/
.ruff_cache/

# IDE
.idea/
.vscode/

# OS
.DS_Store
.Trashes
*.swp
*~
.nfs*

.env
